@inject INewsContainer News
@inject NavigationManager NM
@inject IDataAccess db
@inject IDbCon dbCon
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@* @page "/inp/{id:int}" *@

<div class="@pointerEvent">
	@if (oo is not null)
	{
		<div class="flex justify-between text-sm">
			<button disabled="@RO" @onclick="Cancel">⬅️</button>
			@if (appState.Ytk1)
			{
				<button disabled="@RO" @onclick="Clone">🐑Klon</button>
				<button disabled="@RO" @onclick="NewRec">➕</button>
				<button disabled="@RO" @onclick="Save">✅Kaydet</button>
			}
		</div>

		<table>
			<tbody>
				<tr>
					<td>Id</td>
					<td><span class="text-white bg-black rounded px-1">@oo.OOID</span></td>
				</tr>
				<tr>

					<td><button @onclick='() => ShowModal("S", oo.SbjID)' tabindex="-1" class="text-blue-700 shadow-md">Konu</button></td>
					<td>
						<input type="text" class="px-1"
							   maxlength="30"
							   size="30"
							   list="TSL2"
							   @bind="oo.Sbj"
							   @bind:event="oninput"
							   @bind:after="CheckSbj" />
					</td>
				</tr>
				<tr>
					<td colspan="2" style="background-color:gray;color:antiquewhite;text-align:center">Request</td>
				</tr>
				<tr>
					<td><button @onclick='() => ShowModal("R", oo.ReqID)' tabindex="-1" class="text-blue-700 shadow-md">İstek</button></td>
					<td>
						<input type="text" class="px-1"
							   maxlength="30"
							   size="30"
							   list="TRL2"
							   @bind="oo.Req"
							   @bind:event="onchange"
							   @bind:after="CheckReq" />
					</td>
				</tr>
				<tr>
					<td></td>
					<td>@oo.InsTSfs</td>
				</tr>
				<tr>
					<td>Info</td>
					<td>
						<textarea readonly="@RO" class="px-1"
								  rows="4" cols="30"
								  @bind="oo.Inf"
								  style="resize:vertical;height:42px" />
					</td>
				</tr>

				<tr>
					<td colspan="2" style="background-color:gray;color:antiquewhite;text-align:center">Yapan</td>
				</tr>
				<tr>
					<td><button @onclick='() => ShowModal("A", oo.ActID)' tabindex="-1" class="text-blue-700 shadow-md">Yapan</button></td>
					<td>
						<input type="text" class="px-1"
							   maxlength="30"
							   size="30"
							   list="TAL2"
							   @bind="oo.Act"
							   @bind:event="onchange"
							   @bind:after="CheckAct" />
					</td>
				</tr>
				<tr>
					<td colspan="2" style="background-color:gray;color:antiquewhite;text-align:center">Başlangıç</td>
				</tr>
				<tr>
					<td class="pr-1">İstek</td>
					<td>
						<input readonly="@RO" type="date" @bind="oo.RSD" />
						<input readonly="@RO" type="time" @bind="oo.RSDt" />
					</td>
				</tr>
				<tr>
					<td class="pr-1">Gerçek</td>
					<td class="pl-1">@oo.ASDfs <sup>@oo.sdh.ToString("#")</sup></td>
				</tr>
				<tr>
					<td colspan="2" style="background-color:gray;color:antiquewhite;text-align:center">Bitiş</td>
				</tr>
				<tr>
					<td class="pr-1">İstek</td>
					<td>
						<input readonly="@RO" type="date" @bind="oo.RFD" />
						<input readonly="@RO" type="time" @bind="oo.RFDt" />
					</td>
				</tr>
				<tr>
					<td class="pr-1">Gerçek</td>
					<td class="pl-1">@oo.AFDfs  <sup>@oo.fdh.ToString("#")</sup></td>
				</tr>
			</tbody>
		</table>


		<datalist id="TSL2">
			@foreach (var r in tsd!)
			{
				<option value="@r.Key" />
			}
		</datalist>
		<datalist id="TRL2">
			@foreach (var r in trd!)
			{
				<option value="@r.Key" />
			}
		</datalist>
		<datalist id="TAL2">
			@foreach (var r in tad!)
			{
				<option value="@r.Key" />
			}
		</datalist>
	}
</div>

@if (showModal)
{
	<div class="modal modal-tt h-auto  shadow-lg shadow-black rounded">
		@if (inpTtyp == "S")
		{
			<InpTS ID=@inpTid OnSaved="Saved" OnCancelled="Cancelled" />
		}
		else if (inpTtyp == "R")
		{
			<InpTR ID=@inpTid OnSaved="Saved" OnCancelled="Cancelled" />
		}
		else if (inpTtyp == "A")
		{
			<InpTA ID=@inpTid OnSaved="Saved" OnCancelled="Cancelled" />
		}
	</div>
}

@code {
	[CascadingParameter]
	public AppState appState { get; set; }
	[Inject]
	CascadingValueSource<AppState>? appStateSource { get; set; } = default;
	[Parameter]
	public int ID { get; set; }
	[Parameter]
	public EventCallback OnSaved { get; set; }
	[Parameter]
	public EventCallback OnCancelled { get; set; }

	private OO? oo, ooo;
	private bool RO = false;
	private int FFID;
	private IEnumerable<TS> ts;
	private IEnumerable<TR> tr;
	private IEnumerable<TA> ta;
	private Dictionary<string, int?>? tsd, trd, tad;

	private int inpTid;
	private string inpTtyp;
	private string pointerEvent = "pe-auto";
	private bool _showModal;
	private bool showModal
	{
		get => _showModal;
		set
		{
			_showModal = value;
			pointerEvent = _showModal ? "pe-none" : "pe-auto";
		}
	}
	private void ShowModal(string typ, int? id)
	{
		id ??= 0;

		if (showModal)
			showModal = false;
		else
		{
			inpTid = (int)id;
			inpTtyp = typ;
			showModal = true;
		}
	}
	public void Cancelled()
	{
		showModal = false;
	}
	public void Saved()
	{
		showModal = false;
		LoadLookups();
		//LoadData();
	}

	int sc = 200;
	private async Task CheckSbj()
	{
		if (tsd!.TryGetValue(oo.Sbj, out var nid))
			oo.SbjID = nid;
		else
		{
			if (oo.Sbj.Length > 2)
			{
				tsd.Add(sc.ToString(), sc);
				sc++;
				StateHasChanged();
			}
			//oo.Sbj = ooo.Sbj;
		}
	}
	private void CheckReq()
	{
		if (trd!.TryGetValue(oo.Req, out var nid))
		{
			oo.ReqID = nid;
			var xx = tr.First(x => x.TRID == nid).Inf;
			if (!string.IsNullOrEmpty(xx))
				oo.Inf = xx;
		}
		else
			oo.Req = ooo.Req;
	}
	private void CheckAct()
	{
		if (tad!.TryGetValue(oo.Act, out var nid))
			oo.ActID = nid;
		else
			oo.Act = ooo.Act;
	}

	private void Cancel()
	{
		//appStateSource?.NotifyChangedAsync();

		// zaten buradan geri dönecek, ilk değerlerini geri almaya gerek yok. ww = oww Bu çalışmaz birbirine eşitliyor copy yapmıyor;
		// ww = oww.ShallowCopy(); //Gerekirse bu OK
		OnCancelled.InvokeAsync();
	}

	private void Clone()
	{
		oo.OOID = 0;
		oo.RSD = DateTime.Today;
		oo.RSDt = DateTime.Today.AddHours(8);
		oo.ASD = null;
		oo.RFD = DateTime.Today;
		oo.RFDt = DateTime.Today.AddHours(16);
		oo.AFD = null;
		oo.sdh = 0;
		oo.fdh = 0;
	}

	private void NewRec()
	{
		oo = new();
		ooo = new();
	}

	private void Save()
	{
		TimeSpan RSDt = oo.RSDt == null ? new TimeSpan(0) : oo.RSDt.Value.TimeOfDay;
		TimeSpan RFDt = oo.RFDt == null ? new TimeSpan(0) : oo.RFDt.Value.TimeOfDay;

		// Join Date & Time (ESD.Date + ESD.Time)
		DateTime? RSD = null, RFD = null;
		if (oo.RSD != null)
			RSD = oo?.RSD?.Date.Add(RSDt);
		if (oo.RFD != null)
			RFD = oo?.RFD?.Date.Add(RFDt);

		var prms = new   // Sirasi onemli Procedure Input sirasiyla ayni olmali
		{
			OOID = oo.OOID,
			USRID = appState.UsrId,
			FFID = appState.FrmId,
			SBJID = oo.SbjID,
			REQID = oo.ReqID,
			ACTID = oo.ActID,
			RSD = RSD,
			ASD = oo.ASD,
			RFD = RFD,
			AFD = oo.AFD,
			INF = oo.Inf,
		};

		//db.SaveRec("OO_MDF", prms);
		using var conn = dbCon.GetConnection();
		conn.Execute("OO_MDF", prms, commandType: CommandType.StoredProcedure);

		NewsMdl news = new()
			{
				FrmId = appState.FrmId,
				YpnId = oo.ActID ?? 0,
			};
		News.NotifyChanged(news);

		OnSaved.InvokeAsync();
	}

	private void LoadLookups()
	{
		tsd = new();
		trd = new();
		tad = new();

		tsd.Add("", null);
		tad.Add("", null);

		if (appState.Ytk1)
		{
			using var conn = dbCon.GetConnection();
			ts = conn.Query<TS>("select * from TS where FFId = @FFId", new { FFId = appState.FrmId });
			foreach (var r in ts)
			{
				tsd.Add(r.Ad, r.TSID);
			}
			tr = conn.Query<TR>("select * from TR where FFId = @FFId", new { FFId = appState.FrmId });
			foreach (var r in tr)
			{
				trd.Add(r.Ad, r.TRID);
			}
			ta = conn.Query<TA>("select * from TA where FFId = @FFId", new { FFId = appState.FrmId });
			foreach (var r in ta)
			{
				tad.Add(r.Ad, r.TAID);
			}

		}
	}

	protected override async Task OnInitializedAsync()
	{
		LoadLookups();

		var prms = new
		{
			WWId = ID,
			FFId = appState.FrmId,
			UsrId = appState.UsrId
		};
		using (IDbConnection conn = dbCon.GetConnection())
		{
			oo = conn.QueryFirst<OO>("OO_SEL", prms, commandType: CommandType.StoredProcedure);
		}

		//oo = db.LoadRec<OO, dynamic>("select * from OO_SEL(@OOId,@FFId,@UsrId)", new { WWId = ID, FFId = FFID, UsrId = appState.UsrId });

		ooo = oo.ShallowCopy();
	}

	private sealed class TT
	{
		public int TTId { get; set; }
		public string Typ { get; set; }
		public string AdX { get; set; }
		public string Inf { get; set; }
	}

}
