@implements IDisposable
@rendermode @(new InteractiveServerRenderMode(prerender: true))
@page "/orderfrmpending"

<PageTitle>FirmaAktifOrders</PageTitle>

<h3>Bekleyenler</h3>

@if (ww != null)
{
	<table class="mx-auto text-left text-gray-500">
		<thead class="text-xs text-gray-700 uppercase bg-gray-50">
			<tr>
				<th></th>
				<th>Id</th>
				<th>Konu</th>
				<th>Yapan</th>
				<th>Bek.BAŞ</th>
				<th>BaŞladı</th>
				<th></th>
				<th>Bek.BİT</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var w in ww)
			{
				<tr>
					<td class="border border-slate-300">
						<button class="bg-indigo-500 text-white rounded px-1 py-1"
								@onclick="() => ShowModal(w.WWID)">
							Edit
						</button>
					</td>
					<td class="border border-slate-300 px-1">@w.WWID</td>
					<td class="border border-slate-300 px-1">@w.Sbj</td>
					<td class="border border-slate-300 px-1">@w.mWho</td>
					<td class="border border-slate-300 px-1 @w.sClass">@w.SEDfm</td>
					<td class="border border-slate-300 px-1 text-center">
						<input type="checkbox" class="pointer-events-none" checked="@w.Started">
					</td>
					@if (w.Started)
					{
						<td class="border border-slate-300 pl-1"></td>
					}
					else
					{
						<td class="pl-1">
							<button class="bg-indigo-500 text-white rounded px-1 py-1 xl:px-4">
								Başlat
							</button>
						</td>
					}

					<td class="border border-slate-300 px-1 @w.fClass">@w.FEDfm</td>
					<td class="border border-slate-300 px-1">
						<input type="checkbox" class="pointer-events-none" checked="@w.Finishhed">
					</td>
					@if (w.Finishhed)
					{
						<td class="border border-slate-300 px-1"></td>
					}
					else
					{
						<td class="border border-slate-300 px-1">
							<button class="bg-indigo-500 text-white rounded px-1 py-1">
								Bitir
							</button>
						</td>
					}
				</tr>

			}
		</tbody>
	</table>
}

<style>
	.btn-basladi {
		background-color: green;
		border-color: green;
		color: white;
	}

	.btn-bitti {
		color: red;
		cursor: pointer;
	}
</style>

@if (showModal)
{
    <div class="modal">
        <InpWW ID=@mdlId OnSaved="Saved" OnCancelled="Cancelled" />
    </div>
}

@code {
	[Inject]
	IDataAccess db { get; set; }

	[CascadingParameter]
	public RLCV? rLCV { get; set; } = default;

	public IEnumerable<WW> ww;

	private int mdlId;
	private string pointerEvent = "pe-auto";

	private bool _showModal;
	private bool showModal
	{
		get => _showModal;
		set
		{
			_showModal = value;
			pointerEvent = _showModal ? "pe-none" : "pe-auto";
		}
	}

	private void ShowModal(int id)
	{
		if (showModal)
			showModal = false;
		else
		{
			this.mdlId = id;
			showModal = true;
		}
	}

	public void Cancelled()
	{
		showModal = false;
	}

	public void Saved()
	{
		showModal = false;
		LoadData();
	}

	private void LoadData()
	{
		ww = db.LoadData<WW, dynamic>("select * from DBA_FRM(@ID)", new { ID = rLCV.FrmId });
	}

	protected override void OnInitialized()
	{
		if(rLCV.UsrId > 0)
			LoadData();
	}

	public void Dispose()
	{

	}
}
