@inject IDataAccess db
@inject IDbCon dbCon
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@page "/wq"

@if(wqp != null)
{
	<table class="bg-slate-200 m-auto"> 
		<tr>
			<td class="border border-slate-300 px-1 text-red-700 font-bold">Tarih aralığı</td>
			<td class="border border-slate-300">
				<select id="rngFld" name="rngFld" @bind="appState.rngFld" class="w-24 px-1">
					@foreach(var r in rf)
					{
						<option value="@r.OptVal">@r.OptTxt</option>
					}
				</select>
			</td>
			<td class="border border-slate-300 text-center">
				<input type="date" @bind="appState.rngGE" placeholder="Başlangıç tarih >=" />
			</td>
			<td class="border border-slate-300 text-center">
				<input type="date" @bind="appState.rngLT" placeholder="Bitiş tarih <" />
			</td>
		</tr>
		<tr>
			<td class="border border-slate-300 px-1 text-red-700 font-bold">Filtre</td>
			<td class="border border-slate-300">
				<select id="fltFld" name="fltFld" @bind="appState.fltFld" class="w-24 px-1">
					@foreach(var r in ff)
					{
						<option value="@r.OptVal">@r.OptTxt</option>
					}
				</select>
			</td>
			<td class="border border-slate-300">
				<select id="cars" name="cars" @bind="appState.fltCnd" class="w-24 px-1">
					@foreach(var r in fc)
					{
						<option value="@r.OptVal">@r.OptTxt</option>
					}
				</select>
			</td>
			<td class="border border-slate-300">
				<input type="search" class="w-24 px-1" @bind="appState.fltVal" @bind:event="oninput" placeholder="❓" />
			</td>
		</tr>
		<tr>
			<td class="border border-slate-300 px-1 text-red-700 font-bold">Sıralama</td>
			<td class="border border-slate-300">
				<select id="ordFld" name="ordFld" @bind="appState.ordFld" class="w-24 px-1">
					@foreach(var r in of)
					{
						<option value="@r.OptVal">@r.OptTxt</option>
					}
				</select>
			</td>
			<td class="border border-slate-300">
				<select id="ordVal" name="ordVal" @bind="appState.ordVal" class="w-24 px-1">
					@foreach(var r in oc)
					{
						<option value="@r.OptVal">@r.OptTxt</option>
					}
				</select>
			</td>
			<td class="text-center">
				<button type="button" @onclick="QryArgsSelected">🔎 ARA</button>
			</td>
		</tr>
	</table>
}

@code {
	[CascadingParameter]
	public AppState? appState { get; set; } = default;

	//[Parameter]
	//public WwQryArgs Qry { get; set; } = new();

	//[Parameter]
	//public EventCallback<WwQryArgs> OnQryArgsSelected { get; set; }
	[Parameter]
	public EventCallback OnQryArgsSelected { get; set; }

	public IEnumerable<WQP> wqp;
	public List<WQP> rf = new();
	public List<WQP> ff = new();
	public List<WQP> fc = new();
	public List<WQP> of = new();
	public List<WQP> oc = new();

	public void QryArgsSelected()
	{
		//OnQryArgsSelected.InvokeAsync(Qry);
		OnQryArgsSelected.InvokeAsync();
	}

	protected override void OnInitialized()
	{
		// using IDbConnection conn = dbCon.GetConnection();
		// wqp = conn.Query<WQP>("select * from WQP");
		// wqp = db.LoadData<WQP, dynamic>("select * from WQP", new { });

		using (IDbConnection conn = dbCon.GetConnection())
		{
			wqp = conn.Query<WQP>("select * from WQP order by ID");
		}

		foreach(var p in wqp)
		{
			if(p.Typ == "RF")
				rf.Add(p);
			else if (p.Typ == "FF")
				ff.Add(p);
			else if (p.Typ == "FC")
				fc.Add(p);
			else if (p.Typ == "OF")
				of.Add(p);
			else if (p.Typ == "OC")
				oc.Add(p);
		}
	}

	public sealed class WQP 
	{
		public string Typ;
		public string OptTxt;
		public string OptVal;
	}
}
